# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\bilibili\yolov5_mytest-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
